name: Test and lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14.1"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - name: Checking code formatting with black
      run: |
        black --check $(git ls-files '*.py')
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Decrypt data files
      run: |
        python -m aoclibs decrypt_files
      env:
        AOC_ENC_KEY: ${{ secrets.AOC_ENC_KEY }}
    - name: Run unit tests
      run: |
        python -m unittest
